extends ./layout/index

block slider 
  .slider 
    h1 Calidad Asegurada
    em Expertos en tecnología

block contenido 

  

  main.container.mt-5

    h2.text-center.mb-5 Déjanos decirte..

    .row.mb-5
      .col-md-6
        p En MYM Tech impulsamos el crecimiento digital desde 2021 mediante componentes tecnológicos de alto rendimiento. Nos especializamos en satisfacer las necesidades de gamers, profesionales y empresas, combinando innovación con precios competitivos, garantías extendidas y soporte especializado.
        p Nuestro éxito se mide por el progreso de nuestros clientes: desde streamers que optimizan su contenido hasta empresas que modernizan su infraestructura IT.
      .col-md-4
        img(src="/img/inicio_nosotros.png", class="img-fluid")

      section.productos.mt-5
        .container
          include ./layout/viajes
  

    .descuento
      .container
        .row
          .col-md-6
            .contenido
              p.precio 5% de Descuento
              p.titulo Para tu primera compra!!
              p.fecha  Desde el primero hasta el 15 de Diciembre
              p.precio Compra ya y no dejes pasar esta oportunidad!!
              a(href="/viajes", class="btn btn-danger btn-lg mt-3") Aprovechar Descuento

    .container
      h2.mt-5.text-center 
      .row 
        include ./layout/testimoniales


  .main.adicionales.mt-5 
    .listado-iconos
        .container.mt-5.py-5.text-center
            .row    
                .col-md-4
                    img(src="img/icono_seguridad.svg", alt="icono seguridad", class="img-fluid mb-4")
                    h2.mb-4 Seguridad 
                    p Protegemos tus compras con cifrado SSL y pasarelas de pago seguras. Tus datos siempre están resguardados con autenticación avanzada y monitoreo antifraude permanente.

                .col-md-4
                    img(src="img/icono_destinos.svg", alt="icono destinos", class="img-fluid mb-4")
                    h2.mb-4 Envíos nacionales
                    p Realizamos envíos a todo el país con tiempos de entrega express (24-48 horas en ciudades principales). Trabajamos con transportistas confiables y ofrecemos seguimiento en tiempo real para que siempre sepas dónde está tu pedido.

                .col-md-4
                    img(src="img/icono_precios.svg", alt="icono precios", class="img-fluid mb-4")
                    h2.mb-4 Los Mejores Precios
                    p Garantizamos el precio más bajo en tecnología. ¡Si encuentras un producto más barato, lo igualamos! Además, ofrecemos descuentos por volumen y promociones exclusivas.



    